<h2>Reminder Added</h2>

<p>Ok, we'll remind you that {{ name }} has a birthday on {{ month }} {{ day }}.</p>
<p><a href="/view/add">Add another</a></p>

<!-- add option to undo -->

<!-- show list of birthday reminders on same day? -->
