<h2>Download your reminders</h2>

<p>Enter your email and we will send you a list of your Birthday Reminders.</p>
<form method="post" action="/get">
    <input type="email" placeholder="Email" size="20" name="email" required />
    <input type="submit" value="Submit" />
</form>
