<!DOCTYPE html>
<html>
<head>
    <title>Birthday Reminders</title>

</head>
<body>
    <div style="max-width: 500px; position: relative; margin: auto; margin-top: 100px">
        {{{ content }}}
    </div>
</body>
</html>
