Here's a friendly reminder that {{ name }} has a birthday on {{ dayOfWeek }}, {{ month }} {{ day }}.

<br/><br/>
<a href="{{ baseUrl }}/delete/reminder/{{ token }}">Unsubscribe from this reminder</a>
<br/>
<a href="{{ baseUrl }}/delete/reminder/{{ token }}/all">Unsubscribe from all reminders</a>
<br/><br>
Powered by <a href="{{ baseUrl }}">Increscent Birthday Reminders</a>
