Here's a friendly reminder that {{ name }} has a birthday on {{ dayOfWeek }}, {{ month }} {{ day }}.

<br/><br/>
<a href="{{ unsubscribeOne }}">Unsubscribe from this reminder</a>
<a href="{{ unsubscribeAll }}">Unsubscribe from all reminders</a>
