Here's a friendly reminder that {{ name }} has a birthday on {{ dayOfWeek }}, {{ month }} {{ day }}.

<br/><br/>
<a href="{{ baseUrl }}/delete/reminder?token={{ token }}">Unsubscribe from this reminder</a>
<br/><br/>
<a href="{{ baseUrl }}/delete/reminder/all?email={{ email }}">Unsubscribe from all reminders</a>
<br/><br>
Powered by <a href="{{ baseUrl }}">Increscent Birthday Reminders</a>
