<h2>Reminder Removed</h2>

<p>You will no longer be reminded that {{ name }} has a birthday on {{ month }} {{ day }}.</p>

<br/>
<p>If you would like to revert this action, click: <a href="/undo/{{ actionToken }}">undo</a></p>
